<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>url</key>
		<string>http://gateway.marvel.com</string>
		<key>version</key>
		<string>v1</string>
		<key>visibility</key>
		<string>public</string>
		<key>key</key>
		<string>PLACE_YOUR_API_PUBLIC_KEY_HERE</string>
		<key>private-key</key>
		<string>PLACE_YOUR_API_PRIVATE_KEY_HERE</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>url</key>
		<string>https://gateway.marvel.com</string>
		<key>version</key>
		<string>v1</string>
		<key>visibility</key>
		<string>public</string>
		<key>key</key>
		<string>PLACE_YOUR_API_PUBLIC_KEY_HERE</string>
		<key>private-key</key>
		<string>PLACE_YOUR_API_PRIVATE_KEY_HERE</string>
	</dict>
</dict>
</plist>
